.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 425px;
    width: 270px;
    margin: 20px 15px 30px;
    padding: 246px 10px 10px;
    border: 1px solid var(--card-color);
    box-shadow: none;
    box-sizing: border-box;
    transition: all 0.24s ease;
    animation: opacity-animation 2s alternate;
}

.card:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}

.card__img {
    position: absolute;
    top: -20px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border: 1px solid var(--card-color);
    background: #fff;
}

.card__type {
    position: absolute;
    top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 38px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
}

.card__sale {
    left: 0;
    background-color: #ed1111;
}

.card__new {
    right: 0;
    background-color: #000;
}

.card__title {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card__description {
    height: 45px;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    overflow: hidden;
}

.card__price {
    display: flex;
    margin-top: 14px;
}

.card__costDis {
    height: 26px;
    margin-right: 20px;
    color: #333;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}

.card__cost {
    color: #ed1111;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: line-through;
}

.card__control {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

@keyframes opacity-animation {
    from { opacity: 0}
    to  {opacity: 1}
}